<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OsoleMio</title>
</head>
<body>

    <h1>Hola !PERRO¡</h1>
    <p>TOdo BIen TOdo COrrecto</p>
    <nav>
        <ul>
            <li><h1>Alguna cosa aqui X1¡</h1></li>
            <li><h1>Alguna cosa aqui X2¡</h1></li>
            <li><h1>Alguna cosa aqui X3¡</h1></li>
            <li><h1>Alguna cosa aqui X4¡</h1></li>
            <li><h1>Alguna cosa aqui X5¡</h1></li>
        </ul>
    </nav>
    
</body>
</html>